language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby-18mode # JRuby in 1.8 mode
  - jruby-19mode # JRuby in 1.9 mode
  - jruby-head
  - rbx-18mode
  - rbx-19mode
  - ree

before_install:
  - gem update --system
  - gem --version
